* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  background-color: #242221;
}

.calculator {
  width: 350px;
  height: 320px;
  background-color: #c0c0c0;
  box-shadow: 0px 0px 0px 10px #666;
  border: 5px solid black;
  border-radius: 10px;
  margin: auto; /* Adicionado para centralizar a calculadora na página */
  margin-top: 50px; /* Ajuste para espaçamento superior */
}

#display {
  width: 320px;
  height: 40px;
  text-align: right;
  background-color: black;
  border: 3px solid white;
  font-size: 18px;
  margin: 2px auto; /* Ajuste para centralizar o display e margens uniformes */
  color: #7fff00;
}

.btnTop,
.btnNum,
.btnMath,
.btnOpps {
  color: white;
  font-size: 14px;
  margin: 5px;
  width: 50px;
  height: 25px;
  cursor: pointer; /* Adicionado para indicar que os botões são clicáveis */
}

.btnTop {
  background-color: #6f6f6f;
}

.btnNum {
  background-color: black;
}

.btnMath {
  background-color: #ff4561;
}

.btnOpps {
  background-color: #ff9933;
}